.NoiseCard {
    position: relative;
    overflow: hidden;
    display: block;
    text-overflow: clip;
    border-radius: .75rem;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(32 30 29 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(231 229 228 / var(--tw-text-opacity));
}

.NoiseCard__Gradient {
    position: absolute;
    width: 100%;
    height: 600px;
    width: 704px;
    max-width: 704px;
    right: 0;
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}